<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
	<form action="/user/newUser4" method="post">
		<input type="text" id="name" name="name"  placeholder="Name" /> 
		<input type="text" id="lastName" name="lastName"  placeholder="Last name" /> 
		<input type="text" id="secondLastName" name="secondLastName"  placeholder="Second last name" /> 
		<input type="number" id="age" name="age"  placeholder="Age" />
		
		<input type="submit" value="Enviar" 
		/>
		 
			
	</form>
</body>
</html>